.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
    background-color: #333;
    
    @media (max-width: 500px) {
        justify-content: center;
        margin-top: 0px;
    }

    nav {
        height: 100px;
        transition: height 150ms ease-in;

        @media (max-width: 500px) {
            &.navigation-extend {
                height: 300px;
            }
        }

        ul {
            display: flex;

            @media (max-width: 500px) {
                flex-direction: column-reverse;
                margin: -10px;
                padding: 0px;
            }

            li.route {
                flex-wrap: wrap;
                justify-content: center;
                opacity: 0;
                transition: opacity 150ms ease-in;
                &.visible {
                    opacity: 100;
                    &:hover,
                    &.active {
                        background-color: #ebb434;
                    }
                }
            }
            li {
                display: flex;
                margin: 10px;
                width: 100px;
                height: 60px;
                border-radius: 5px;
                cursor: pointer;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: flex-end;

                a {
                    text-decoration: none;
                    color: white;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.active {
                        font-weight: bold;
                        background-color: #ebb434;
                        border-radius: 5px;
                        color: black;
                    }
                }

                @media (max-width: 500px) {
                    i {
                        position: absolute;
                        margin: 0px;
                        right: 10px;
                        top: 10px;
                    }
                    flex-direction: column-reverse;
                }

            }
        }
    }
}

.md-light {
    color: rgba(255, 255, 255, 1);
}

.md-48 {
    font-size: 36px;
}
